{# We don't include the api.js here because it will be included by the V3 Recaptcha widget and that's how we need it to be to include both on the same page #}
<script type="text/javascript">
    grecaptcha.ready(() => {
        v2_recaptcha_element = document.querySelector("[data-widget-uuid='{{ widget_uuid }}']");
        {% if widget.attrs.callback  %}
            grecaptcha.render(v2_recaptcha_element.id, {
                'sitekey' : '{{ public_key }}',
                'callback': {{ widget.attrs.callback }}
            });
        {%  else %}
            grecaptcha.render(v2_recaptcha_element.id, {
                'sitekey' : '{{ public_key }}',
            });
        {% endif %}

      });

    // Submit function to be called, after reCAPTCHA was successful.
    var onSubmit_{{ widget_uuid }} = function(token) {
        console.log("reCAPTCHA validated for 'data-widget-uuid=\"{{ widget_uuid }}\"'")
    };
</script>
