{# The provided implementation caters for only one reCAPTCHA on a page. Override this template and its logic as needed. #}
<script src="https://{{ recaptcha_domain }}/recaptcha/api.js?render={{ public_key }}{% if api_params %}&{{ api_params }}{% endif %}"></script>
<script type="text/javascript">
    grecaptcha.ready(function() {
        recaptcha_refresh_token();
    });

    /*
    We declare this function so that it is possible for us to refresh the token
    in a page without reloading the whole page. This is useful for example
    when we have a ReCAPTCHA protected form in a modal dialog that does things
    with AJAX. Callback is optional, and will execute once the token has
    been refreshed
     */
    function recaptcha_refresh_token(callback) {
       var element = document.querySelector('.g-recaptcha-v3[data-widget-uuid="{{ widget_uuid }}"]');
       var action = element.getAttribute('data-action');
       if (!action) {
           action = 'form'
       }

        grecaptcha.execute('{{ public_key }}', {action: action})
        .then(function(token) {
            console.log("reCAPTCHA validated for 'data-widget-uuid=\"{{ widget_uuid }}\"' and `data-action=\"" + action + "\"`. Setting input value...")
            element.value = token;

            if (callback !== undefined) {
                callback();
            }
        });
    }
</script>
